---
import type { Participant } from '../../types/types'
const { participant } = Astro.props as { participant: Participant }
---

<article
    class="flex lg:flex-row flex-col justify-start lg:gap-20 gap-4 items-center transition-all"
>
    <div class="text-white flex-1 text-2xl">
        <h3 class="font-bold capitalize pb-4 leading-8 lg:text-start">
            {participant.title} | <span class="text-gradient text-2xl"
                >{participant.hora}</span
            >
        </h3>
        <h4
            class="text-slate-500 font-bold capitalize pb-4 leading-8 lg:text-start"
        >
            {participant.name}
        </h4>
    </div>
</article>
