---
import type { Participant } from '../../types/types'
const { participant } = Astro.props as { participant: Participant }
---

<article
    class="flex   lg:flex-row flex-col justify-start  lg:gap-20 gap-4  items-center transition-all"
>

    <picture class="rounded-full w-64 overflow-hidden p-3 gradient">
        <img
            src={participant.img}
            alt={`Imagen de ${participant.name}`}
            class="w-full rounded-full "
        />
    </picture>
    
    <div class="text-white flex-1 text-3xl " >
        <h3
            class=" font-bold capitalize pb-4 leading-8 lg:text-start"

        >
            {participant.name}
        </h3>
        <p class="text-start">{participant.descrition}</p>
    </div>
</article>
