---
import Avatar from './Avatar.astro';
---
<section class="p-8 ">
    <header class="text-center mb-24">
        <h2 class="text-4xl text-gradient font-extrabold "> Participantes</h2>
        
    </header>
    <div class="inline-flex justify-center lg:gap-24 gap-8 m-auto flex-wrap transition-all ">
        <Avatar img="/avatar.png" name="avatar" client:visible   />
        <Avatar img="/avatar.png" name="avatar" client:visible   />
        <Avatar img="/avatar.png" name="avatar" client:visible   />
        <Avatar img="/avatar.png" name="avatar" client:visible   />
    </div>
    
</section>