---
import Avatar from './Avatar.astro'
import type { Participant } from '../../types/types'
const participants: Participant[] = [
    {
        name: 'Sandra Code',
        descrition:
            'Taller practico para dar tus primeros pasos en React.',
        title: 'React desde las bases',
        type: 'Taller',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
    },
    {
        name: 'Jack Black',
        descrition:
            'Peaches peaches peaches peaches peaches.',
        title: 'No siempre hay que encajar ',
        type: 'Charla',
        img: 'https://hips.hearstapps.com/hmg-prod/images/jack-black-gettyimages-1193008127.jpg',
    },
    {
        name: 'Scarlett Dev',
        descrition:
            'Consejos y trucos para mejorar tu cv y destacar sobre los demas.',
        title: 'Tu primer trabajo en Tech',
        type: 'Charla',
        img: 'https://1.bp.blogspot.com/-wOdU9hEbjyo/Taf949oomiI/AAAAAAAAAZk/CCUIXLqcIsw/s1600/scarlett_johansson400.jpg',
    },
    {
        name: 'Adam',
        descrition:
            '¿Realmente existe los desarrolladores fullstack ó son solo un mito?.',
        title: 'Fullstack',
        type: 'Charla',
        img: 'https://www.elnacional.cat/enblau/uploads/s1/18/96/90/12/adam-sandler-grande_1_630x630.jpeg',
    },
]
---

<section class="py-16 flex flex-col text-center gap-24 px-18 p-8">
    <h2
        id="participantes"
        class="font-extrabold text-4xl text-transparent bg-clip-text gradient"
    >
        Participantes
    </h2>
    <section class="flex flex-col gap-12 w-full justify-center">
        {
            participants.map((participant) => (
                <Avatar participant={participant} />
            ))
        }
    </section>
</section>
