---
import Avatar from './Avatar.astro'
import type { Participant } from '../../types/types'
const participants: Participant[] = [
    {
        name: 'José Manuel Ortegar Falcón',
        title: 'De Junior a Líder',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
        hora: '20:00 H',
        type: 1,
    },
    {
        name: 'Edgar Mejia Vasquez',
        title: 'Mi experiencia como Desarrollador Junior en Latinoamerica ¿Un viaje hacia eléxito?',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
        hora: '20:30 H',
        type: 1,
    },
    {
        name: '',
        title: 'MESA REDONDA',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
        hora: '21:00 H',
        type: 2,
    },
    {
        name: 'David Rodriguez - Xerosec',
        title: 'El camino menos transitado: Como llegué al sector IT a los 35 añazos',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
        hora: '21:30 H',
        type: 1,
    },
    {
        name: 'Anais Fernandez Villar',
        title: 'Magicals Girls UI: Los secretos de la animacion en Figma',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
        hora: '22:00 H',
        type: 1,
    },
    {
        name: '',
        title: 'MESA REDONDA',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
        hora: '22:30 H',
        type: 2,
    },
    {
        name: 'David Huertas - Ikurotime',
        title: 'Sobrevivir al codigo - Guia para programadores impacientes',
        img: 'https://www.tuasesordemoda.com/wp-content/uploads/2022/11/cortes-cara-cuadrada-mujer-.jpeg',
        hora: '23:00 H',
        type: 1,
    },
]
---

<section class="m-auto max-w-5xl py-16 flex flex-col text-center gap-16 p-8">
    <header class="flex justify-between items-center">
        <h2
            id="participantes"
            class="font-extrabold text-4xl text-transparent bg-clip-text gradient"
        >
            Horarios y Charlas
        </h2>
        <h2 class="font-extrabold text-xl text-white">
            Horario de España Peninsular (CEST)
        </h2>
    </header>
    <section class="flex flex-col gap-8 w-[100%]">
        {
            participants.map((participant) => {
                if (participant.type === 1) {
                    return <Avatar participant={participant} />
                }
                if (participant.type === 2) {
                    return (
                        <h3 class="text-gradient font-bold text-3xl text-center md:text-left">
                            ☆ MESA REDONDA | {participant.hora}
                        </h3>
                    )
                }
            })
        }
        {
            participants.length == 0 && (
                <div class=" text-gray-400 text-2xl">
                    ¡Se anunciaran en breve!
                </div>
            )
        }
    </section>
</section>
