---
import Avatar from './Avatar.astro'
import type { Participant } from '../../types/types'
const participants: Participant[] = [
    {
        name: 'Jhon Doe',
        title: 'Nombre de charla',
        type: 'Charla',
        img: '/image_preview_participants.jpg',
    },
    {
        name: 'Jhon Doe',
        title: 'Nombre de charla',
        type: 'Charla',
        img: '/image_preview_participants.jpg',
    },
    {
        name: 'Jhon Doe',
        title: 'Nombre de charla',
        type: 'Charla',
        img: '/image_preview_participants.jpg',
    },
    {
        name: 'Jhon Doe',
        title: 'Nombre de charla',
        type: 'Charla',
        img: '/image_preview_participants.jpg',
    },
]
---

<section
    class="py-16 flex flex-col text-center  gap-24 px-18"
>
    <h2
        class="font-extrabold text-4xl text-transparent bg-clip-text gradient"
    >
        Participantes
    </h2>
    <section class="flex flex-wrap gap-12 w-full justify-center">
        {
            participants.map((participant) => (
                <Avatar participant={participant} />
            ))
        }
    </section>
    <h3 class="text-gray-400 text-2xl">
        Para estar al tanto de todo unete al <a
            class="decoration-[#4BC0C8] hover:text-4xl transition-all underline font-extrabold text-3xl text-transparent bg-clip-text bg-gradient-to-r from-[#FEAC5E] via-[#C779D0] to-[#4BC0C8]"
            href="http://"
            target="_blank"
            rel="noopener noreferrer">Discord</a
        >
    </h3>
</section>
