---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/global.css" />
		<title>AforShow</title>
	</head>
	<body class="">
		<header
			class="min-h-screen bg-[url('/bg_presentation.jpg')] bg-fixed bg-cover bg-center"
		>
			<section class="m-auto">
				<div class="">
					<img
						src="/stars_logo.svg"
						alt="Stars"
						class="m-auto pt-24 w-[16rem]"
					/>
					<img
						src="/svg_name.svg"
						alt="Event name"
						class="m-auto w-[40rem] pt-8"
					/>
					<h3 class="text-white mt-8 mb-4 text-center text-xl">
						&lt;Charlas y Talleres de <span class="font-semibold"
							>Programación /&gt;</span
						>
					</h3>
					<h3 class="text-center text-4xl">
						<span class="font-bold text-white"
							><span
								class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#FEAC5E] via-[#C779D0] to-[#4BC0C8]"
								>21</span
							> de Julio</span
						>
						<span
							class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#FEAC5E] via-[#C779D0] to-[#4BC0C8]"
							>•</span
						>

						<span class="text-gray-500">20:00 Hs</span>
					</h3>
					<div class="relative flex w-1/4 mx-auto mt-10">
						<a
							href=""
							class="m-auto text-center rounded-xl w-full transition-all bg-gradient-to-r p-[2px] from-[#FEAC5E] via-[#C779D0] to-[#4BC0C8] hover:scale-105 hover:[&>div>div>span]:text-black"
						>
							<div
								class="flex flex-col justify-between h-full bg-black hover:bg-transparent rounded-lg p-2"
							>
								<div
									class="flex flex-col justify-center text-white"
								>
									<span class="font-bold">
										Postulate para dar una charla o un
										taller
									</span>
								</div>
							</div>
						</a>
					</div>
					<div
						class="m-auto text-center flex justify-end flex-col min-h-[100px]"
					>
						<a
							href="http://twitch.tv/afor_digital"
							target="_blank"
							rel="noopener noreferrer"
							class="justify-end text-gray-500"
							>Twitch.tv/afor_digital</a
						>
					</div>
				</div>
			</section>
		</header>
		<main></main>
		<footer></footer>
	</body>
</html>
