---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>AforShow</title>
	</head>
	<body>
		<header></header>
		<main></main>
		<footer></footer>
	</body>
</html>
