---
import Countdown from '../components/Countdown.jsx'
import Header from '../components/Header.astro'
import Participantes from '../components/Participantes/Participantes.astro'
import Ticket from '../components/Ticket'
import '../../public/global.css'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>AforShow</title>
	</head>
	<body
		class="bg-[url('/bg_section.png')] bg-fixed bg-cover bg-center container m-auto"
	>
		<Header />
		<main>
			<section class="py-16 flex flex-col text-center gap-[5rem]">
				<h3 class="text-gray-400 text-2xl">Quedan</h3>
				<Countdown targetDate="2023-07-21T20:00:00" client:load />
				<h3 class="text-gray-400 text-2xl">
					Para el <span class="font-bold">AforShow</span>
				</h3>
			</section>
			<Participantes />
			<Ticket client:only="react" />
		</main>
		<footer>
			<h3 class="text-gray-400 text-2xl text-center pb-16">
				Para estar al tanto de todo unete al <a
					class="decoration-[#4BC0C8] hover:text-4xl transition-all underline font-extrabold text-3xl text-transparent bg-clip-text bg-gradient-to-r from-[#FEAC5E] via-[#C779D0] to-[#4BC0C8]"
					href="http://"
					target="_blank"
					rel="noopener noreferrer">Discord</a
				>
			</h3>
		</footer>
	</body>
</html>
