---
import Header from '../components/Header.astro'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/global.css" />
		<title>AforShow</title>
	</head>
	<body class="">
		<Header />
		<main></main>
		<footer></footer>
		<script src="https://embed.twitch.tv/embed/v1.js"></script>
	</body>
</html>
