---
import Countdown from '../components/Countdown.jsx'
import Header from '../components/Header.astro'
import Participantes from '../components/Participantes/Participantes.astro'
import Ticket from '../components/Ticket'
import '../../public/global.css'
import 'atropos/css'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>AforShow</title>
	</head>
	<body class="">
		<Header />
		<main>
			<section
				class="py-16 flex flex-col text-center bg-[url(/bg_section.png)] bg-cover bg-fixed bg-center gap-[5rem]"
			>
				<h3 class="text-gray-400 text-2xl">Quedan</h3>
				<Countdown targetDate="2023-07-21T20:00:00" />
				<h3 class="text-gray-400 text-2xl">
					Para el <span class="font-bold">AforShow</span>
				</h3>
			</section>
			<Participantes />

			<Ticket client:only="react" />
		</main>
		<footer></footer>
	</body>
</html>
