---
import BackToTop from './BackToTop'
import DateHeader from './DateHeader'
import Navbar from './Navbar'
---

<header
    class="lg:min-h-min overflow-hidden p-8 relative before:content-[''] before:bg-[url('/stars_presentation.svg')] before:opacity-10 before:absolute before:-top-5 before:md:top-10 before:left-1/2 before:-translate-x-1/2 before:-bottom-10 before:max-w-[40rem] before:w-full before:m-auto before:bg-center before:bg-no-repeat before:bg-contain"
>
    <section id="inicio" class="m-auto">
        <Navbar client:only="react" />
        <div class="">
            <img
                src="/stars_logo.svg"
                alt="Stars"
                class="m-auto pt-20 w-[16rem]"
            />
            <img
                src="/svg_name.svg"
                alt="Event name"
                class="m-auto w-[40rem] pt-8"
            />
            <div class="mt-8 mb-4 text-center">
                <a
                    href="http://twitch.tv/afor_digital"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-white text-md md:text-2xl hover:underline"
                >
                    &lt;&lt;Twitch.tv/<span class="font-semibold"
                        >afor_digital &gt;&gt;</span
                    >
                </a>
            </div>
            <DateHeader client:only="react" />
            <div class="relative flex w-[80%] md:w-[30%] mx-auto mt-4">
                <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSf6_gPvRLoBlNo2KK1VID15y55uR911WGNzDy5eMKQ3K38agA/viewform"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="m-auto text-center rounded-xl w-full transition-all p-[2px] gradient hover:scale-105 hover:[&>div>div]:text-black"
                >
                    <div
                        class="flex flex-col justify-between h-full bg-black hover:bg-transparent rounded-lg p-2"
                    >
                        <div class="flex flex-col justify-center text-white">
                            <span class="font-bold">
                                Vota tus charlas favoritas
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <BackToTop client:only="react" />
    </section>
</header>
