---
import Countdown from '../components/Countdown'
---

<header
    class="min-h-screen lg:min-h-min overflow-hidden p-8"
>
    <section class="m-auto">
        <div class="transition-all hover:scale-105 cursor-pointer">
            <img
                src="/stars_logo.svg"
                alt="Stars"
                class="m-auto pt-20 w-[16rem]"
            />
            <img
                src="/svg_name.svg"
                alt="Event name"
                class="m-auto w-[40rem] pt-8"
            />
            <div class="mt-8 mb-4 text-center">
                <a
                    href="http://twitch.tv/afor_digital"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-white text-md md:text-2xl hover:underline"
                >
                    &lt;&lt;Twitch.tv/<span class="font-semibold"
                        >afor_digital &gt;&gt;</span
                    >
                </a>
            </div>
            <h3 class="text-center text-4xl">
                <span class="font-bold text-white"
                    ><span class="font-extrabold text-gradient">21</span> de Julio</span
                >
                <span class="font-extrabold text-gradient">•</span>

                <span class="text-gray-500">20:00 Hs</span>
            </h3>

            <div class="relative flex w-[80%] md:w-[30%] mx-auto mt-4">
                <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfOnnrFperV87C10Mk_jNWuaxZY60VS11_G7sKmxp1MrE0mAQ/viewform?pli=1"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="m-auto text-center rounded-xl w-full transition-all  p-[2px] gradient hover:scale-105 hover:[&>div>div]:text-black"
                >
                    <div
                        class="flex flex-col justify-between h-full bg-black hover:bg-transparent rounded-lg p-2"
                    >
                        <div class="flex flex-col justify-center text-white">
                            <span class="font-bold">
                                Postulate para dar una charla o un taller
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</header>
